.type {
	position:relative;
	top:-2px;
	padding: 0px 2px;
	color: #ddd;
}
.type:after {
	content: '■';
}

.Scene {
	color: #ccccff;
}

.Object3D {
	color: #aaaaee;
}

.Mesh {
	color: #8888ee;
}

/* */

.PointLight {
	color: #dddd00;
}

/* */

.Geometry {
	color: #88ff88;
}

.BoxGeometry {
	color: #bbeebb;
}
.TorusGeometry {
	color: #aaeeaa;	
}

/* */

.Material {
	color: #ff8888;
}

.MeshPhongMaterial {
	color: #ffaa88;
}

.warning {
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    border: 0px solid;
    margin: 00px 00px;
    padding:220px 20% 0% 310px;
    background-repeat: no-repeat;
    background-position: 50px 220px;
    color: rgb(0,0,0);
    background-color: rgba(200,200,200,0.7);
    background-image: url('../images/warning.png');
    z-index:10;
    display:block;
    font-size:30px;
    text-shadow:4px 4px 10px #444444;
}